<?xml version="1.0"?>
<config>
    <modules>
        <Ideal_Editor>
            <version>0.1.0</version>
        </Ideal_Editor>
    </modules>
    <frontend>
        <routers>
            <editor>
                <use>standard</use>
                <args>
                    <module>Ideal_Editor</module>
                    <frontName>editor</frontName>
                </args>
            </editor>
        </routers>
        <layout>
            <updates>
                <editor>
                    <file>editor.xml</file>
                </editor>
            </updates>
        </layout>
    </frontend>
    <!-- <admin>
        <routers>
			<editor>
				<use>admin</use>
				<args>
					<module>Ideal_Editor</module>
					<frontName>editor</frontName>
				</args>
			</editor>
        </routers>
    </admin> -->
    <admin>
	    <routers>
	        <adminhtml>
	            <args>
	                <modules>
	                    <editor after="Mage_Adminhtml">Ideal_Editor_Adminhtml</editor>
	                </modules>
	            </args>
	        </adminhtml>
	    </routers>
	</admin>
    <adminhtml>
		<menu>
			<theme module="editor">
				<title>System</title>
				<children>
					<editor module="editor">
						<title>CSS Editor</title>
						<sort_order>300</sort_order>
						<action>adminhtml/editor</action>
					</editor>
				</children>
			</theme>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<theme>
							<children>
								<editor>
									<title>CSS Editor</title>
									<sort_order>10</sort_order>
								</editor>
							</children>
						</theme>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<editor>
					<file>editor.xml</file>
				</editor>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <editor>
                <class>Ideal_Editor_Model</class>
                <resourceModel>editor_mysql4</resourceModel>
            </editor>
            <editor_mysql4>
                <class>Ideal_Editor_Model_Mysql4</class>
                <entities>
                    <editor>
                        <table>editor</table>
                    </editor>
                </entities>
            </editor_mysql4>
        </models>
        <resources>
            <editor_setup>
                <setup>
                    <module>Ideal_Editor</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </editor_setup>
            <editor_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </editor_write>
            <editor_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </editor_read>
        </resources>
        <blocks>
            <editor>
                <class>Ideal_Editor_Block</class>
            </editor>
        </blocks>
        <helpers>
            <editor>
                <class>Ideal_Editor_Helper</class>
            </editor>
        </helpers>
    </global>
</config>