<?xml version="1.0"?>
<config>
    <modules>
        <Ideal_Dataspin>
            <version>0.1.1</version>
        </Ideal_Dataspin>
    </modules>
    <frontend>
        <routers>
            <dataspin>
                <use>standard</use>
                <args>
                    <module>Ideal_Dataspin</module>
                    <frontName>dataspin</frontName>
                </args>
            </dataspin>
        </routers>
        <layout>
            <updates>
                <dataspin>
                    <file>dataspin.xml</file>
                </dataspin>
            </updates>
        </layout>
    </frontend>
    <admin>
	    <routers>
	        <adminhtml>
	            <args>
	                <modules>
	                    <dataspin after="Mage_Adminhtml">Ideal_Dataspin_Adminhtml</dataspin>
	                </modules>
	            </args>
	        </adminhtml>
	    </routers>
	</admin>
    <adminhtml>
		<menu>
			<catalog>   
				<children>
					<dataspin module="dataspin">
						<title>Data Spin</title>
						<sort_order>15</sort_order>
						<action>adminhtml/dataspin/import</action>
					</dataspin>
				</children>
			</catalog>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<catalog>
							<children>
								<dataspin>
									<title>Data Spin</title>
									<sort_order>15</sort_order>
								</dataspin>
							</children>
						</catalog>
						<!-- <system>
							<children>
								<config>
	                                <children>
										<dataspin>
											<title>Data Spin Configuration</title>
											<sort_order>15</sort_order>
										</dataspin>
									</children>
								</config>
							</children>
						</system> -->
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<dataspin>
					<file>dataspin.xml</file>
				</dataspin>
			</updates>
		</layout>
    </adminhtml>   
    <global>
    	<models>
            <dataspin>
                <class>Ideal_Dataspin_Model</class>
                <resourceModel>dataspin_mysql4</resourceModel>
            </dataspin>
            <dataspin_mysql4>
                <class>Ideal_Dataspin_Model_Mysql4</class>
                <entities>
                    <dataspin>
                        <table>dataspin_settings</table>
                    </dataspin>
                </entities>
            </dataspin_mysql4>
        </models>
        <resources>
            <dataspin_setup>
                <setup>
                    <module>Ideal_Dataspin</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dataspin_setup>
            <dataspin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dataspin_write>
            <dataspin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dataspin_read>
        </resources>
        <blocks>
            <dataspin>
                <class>Ideal_Dataspin_Block</class>
            </dataspin>
        </blocks>
        <helpers>
            <dataspin>
                <class>Ideal_Dataspin_Helper</class>
            </dataspin>
        </helpers>
    </global>
</config>