<?xml version="1.0"?>
<config>
    <modules>
        <Ranvi_Feed>
            <version>2.2.8</version>
        </Ranvi_Feed>
    </modules>
    <frontend>
        <routers>
            <ranvi_feed>
                <use>standard</use>
                <args>
                    <module>Ranvi_Feed</module>
                    <frontName>feed</frontName>
                </args>
            </ranvi_feed>
        </routers>
    </frontend>
    <admin>
        <routers>
            <ranvi_feed>
                <use>admin</use>
                <args>
                    <module>Ranvi_Feed</module>
                    <frontName>ranvi_feed</frontName>
                </args>
            </ranvi_feed>
        </routers>
    </admin>
    <adminhtml>

        <layout>
            <updates>
                <ranvi_feed>
                    <file>ranvi-feed.xml</file>
                </ranvi_feed>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <ranvi_feed>
                <class>Ranvi_Feed_Model</class>
                <resourceModel>ranvi_feed_mysql4</resourceModel>
            </ranvi_feed>
            <ranvi_feed_mysql4>
                <class>Ranvi_Feed_Model_Mysql4</class>
                <entities>
                    <item>
                        <table>ranvi_feed_entity</table>
                    </item>
                </entities>
            </ranvi_feed_mysql4>
        </models>
        <blocks>
            <ranvi_feed>
                <class>Ranvi_Feed_Block</class>
            </ranvi_feed>
        </blocks>
        <resources>
            <ranvi_feed_setup>
                <setup>
                    <module>Ranvi_Feed</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ranvi_feed_setup>
            <ranvi_feed_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ranvi_feed_write>
            <ranvi_feed_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ranvi_feed_read>
        </resources>
        <helpers>
            <ranvi_feed>
                <class>Ranvi_Feed_Helper</class>
            </ranvi_feed>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <ranvi_feed_generate_all>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ranvi_feed/observer::proccessFeeds</model>
                </run>
            </ranvi_feed_generate_all>
        </jobs>
    </crontab>
</config>