<!--@subject Contact Form@-->
<ul>
	<li>Name: {{var data.fname}} {{var data.lname}}</li>
	<li>E-mail: {{var data.email}}</li>
	<li>Do You Like Any Of These Designs?: {{var data.rings}}</li>
	<li>What kind of stone are you looking for?: {{var data.stonetype}}</li>
	<li>What Metal Color Do You Prefer?: {{var data.metalcolors}}</li>	
	<li>Product Name: {{var data.productname}}</li>
	<li>Product Sku: {{var data.productsku}}</li>
	<li>Image 1: <a href="{{store url=""}}{{var data.image1}}" target="_blank">{{var data.image1}}</a></li> 
	<li>Image 2: <a href="{{store url=""}}{{var data.image2}}" target="_blank">{{var data.image2}}</a></li>
	<li>Image 3: <a href="{{store url=""}}{{var data.image3}}" target="_blank">{{var data.image3}}</a></li>
	
</ul>