<!--@subject Diamond Request@-->
<ul>
	<li>Name: {{var data.name}} </li>
	<li>E-mail: {{var data.email}}</li>
	<li>Zip Code: {{var data.zipcode}} </li>
	<li>Phone: {{var data.phone}} </li>
	<li>Carat Size: {{var data.caratsizefrom}} - {{var data.caratsizeto}} </li>
	<li>Color: {{var data.colorfrom}} - {{var data.colorto}} </li>
	<li>Carat Size: {{var data.clarityfrom}} - {{var data.clarityto}} </li>
	<li>Clarity: {{var data.pricerangefrom}} - {{var data.pricerangeto}} </li>
	<li>Lab: {{var data.lab}}</li>
	<!-- <li>Product Name: {{var data.productname}}</li>
	<li>Product Sku: {{var data.productsku}}</li> 	 -->
	<li>What kind of stone are you looking for?: {{var data.stonetype}}</li>
	
</ul>