<?xml version="1.0"?>
<config>
    <modules>
        <TF_Autocomplete>
            <version>1.0.1</version>
        </TF_Autocomplete>
    </modules>
	<global>
		<models>
			<autocomplete>
				<class>TF_Autocomplete_Model</class>
			</autocomplete>
		</models>
        <blocks>
            <autocomplete>
                <class>TF_Autocomplete_Block</class>
            </autocomplete>
        </blocks>
	</global>
	<frontend>
        <routers>
            <autocomplete>
                <use>standard</use>
                <args>
                    <module>TF_Autocomplete</module>
                    <frontName>autocomplete</frontName>
                </args>
            </autocomplete>
        </routers>
		<layout>
			<updates>
				<autocomplete>
					<file>autocomplete.xml</file>
                </autocomplete>
            </updates>
        </layout>
	</frontend>
	<crontab>
		<jobs>
			<autocomplete_callhome>
				<schedule><cron_expr>0 6 * * *</cron_expr></schedule>
				<run><model>autocomplete/call::home</model></run>
			</autocomplete_callhome>
		</jobs>
	</crontab>	
	<default>
        <catalog>
            <autocomplete>
                <enabled>1</enabled>
                <limit>10</limit>
                <width>0</width>
                <height>350</height>
                <manufacturer>1</manufacturer>
                <price>0</price>
            </autocomplete>
        </catalog>
    </default>
</config>