<?xml version="1.0"?>
<config>
    <modules>
        <Ideal_DynamicUrl>
            <version>0.1.0</version>
        </Ideal_DynamicUrl>
    </modules>
    <global>
        <blocks>
            <IdealDynamicUrl>
                <class>Ideal_DynamicUrl_Block</class>
            </IdealDynamicUrl>
        </blocks>
        <models>
            <IdealDynamicUrl>
                <class>Ideal_DynamicUrl_Model</class>
            </IdealDynamicUrl>
        </models>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <IdealDynamicUrl_observer>
                        <type>singleton</type>
                        <class>Ideal_DynamicUrl_Model_Observer</class>
                        <method>layoutGenerateBlocksAfter</method>
                    </IdealDynamicUrl_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </global>
</config>
