<?xml version="1.0"?>
<config>
    <modules>
        <Jewelerslink_Watches>
            <version>0.1.1</version>
        </Jewelerslink_Watches>
    </modules>
    <frontend>
        <routers>
            <watches>
                <use>standard</use>
                <args>
                    <module>Jewelerslink_Watches</module>
                    <frontName>watches</frontName>
                </args>
            </watches>
        </routers>
        <layout>
            <updates>
                <watches>
                    <file>watches.xml</file>
                </watches>
            </updates>
        </layout>
    </frontend>
    <!-- <admin>
        <routers>
			<watches>
				<use>admin</use>
				<args>
					<module>Jewelerslink_Watches</module>
					<frontName>watches</frontName>
				</args>
			</watches>
        </routers>
    </admin> -->
    <admin>
	    <routers>
	        <adminhtml>
	            <args>
	                <modules>
	                    <watches after="Mage_Adminhtml">Jewelerslink_Watches_Adminhtml</watches>
	                </modules>
	            </args>
	        </adminhtml>
	    </routers>
	</admin>
    
    
    <stores>
        <admin>
            <design>
                <theme>
                    <default>jewelerslink</default>
                </theme>
            </design>
        </admin>
    </stores>
    <adminhtml>
		<menu>
			<jewelryshare module="watches">
				<title>Jewelerslink</title>
				<sort_order>30</sort_order>               
				<children>
					<watches module="watches">
						<title>Watch</title>
						<sort_order>1</sort_order>
						<children>
							<watches_attributes module="watches">
								<title>Watch Attributes</title>
								<sort_order>0</sort_order>
								<action>adminhtml/watches_codes_grid/index</action>
							</watches_attributes>
							<watches_export module="watches">
								<title>Export Watch</title>
								<sort_order>1</sort_order>
								<action>adminhtml/watches_items_grid/index</action>
							</watches_export>
							<watches_import module="watches">
								<title>Import Watch</title>
								<sort_order>2</sort_order>
								<action>adminhtml/watches/importForm/</action>
							</watches_import>
							<watches_settings module="watches">
								<title>Settings</title>
								<sort_order>3</sort_order>
								<action>adminhtml/system_config/edit/section/watches/</action>
							</watches_settings>
						</children>
					</watches>
				</children>
			</jewelryshare>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<jewelryshare>
							<title>Jewelerslink</title>
							<sort_order>10</sort_order>
							<children>
								<watches module="watches">
									<title>Watch</title>
									<children>
										<watches_attributes module="watches">
											<title>Watch Attributes</title>
											<sort_order>0</sort_order>
										</watches_attributes>
										<watches_export module="watches">
											<title>Export Watch</title>
											<sort_order>1</sort_order>
										</watches_export>
										<watches_import module="watches">
											<title>Import Watch</title>
											<sort_order>2</sort_order>
										</watches_import>
										<watches_settings module="watches">
											<title>Settings</title>
											<sort_order>3</sort_order>
										</watches_settings>
									</children>
								</watches>
							</children>
						</jewelryshare>
						<system>
	                        <children>
	                            <config>
	                                <children>
	                                    <watches translate="title" module="watches">
	                                        <title>Watches Configurations</title>
	                                    </watches>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
					</children>
					
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<watches>
					<file>watches.xml</file>
				</watches>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
        
        	<jewelerslink_watches>
                <class>Jewelerslink_Watches_Model</class>
                <resourceModel>jewelerslink_watches_resource</resourceModel>
            </jewelerslink_watches>
            <jewelerslink_watches_resource>
                <class>Jewelerslink_Watches_Model_Resource</class>
                <deprecatedNode>jewelerslink_watches_mysql4</deprecatedNode>
                <entities>
                    <watches_import_codes>
                        <table>watches_import_codes</table>
                    </watches_import_codes>
                </entities>
            </jewelerslink_watches_resource>
        </models>
        <resources>
            <watches_setup>
                <setup>
                    <module>Jewelerslink_Watches</module>
                    <class>Jewelerslink_Watches_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </watches_setup>
            <watches_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </watches_write>
            <watches_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </watches_read>
        </resources>
        <blocks>
            <watches>
                <class>Jewelerslink_Watches_Block</class>
            </watches>
        </blocks>
        <helpers>
            <watches>
                <class>Jewelerslink_Watches_Helper</class>
            </watches>
        </helpers>
    </global>
    
    <jewelerslink_watches_attributes>
        <sku>
            <required>1</required>
            <label>sku</label>
        </sku>
        <name>
            <required>1</required>
            <label>name</label>
        </name>
        <description>
            <required>1</required>
            <label>description</label>
        </description>
        <short_description>
            <required>1</required>
            <label>short_description</label>
        </short_description>
        <price>
            <required>0</required>
            <label>price</label>
        </price>
        <special_price>
            <required>0</required>
            <label>special_price</label>
        </special_price>
        <tier_price>
            <required>0</required>
            <label>tier_price</label>
        </tier_price>
        <msrp>
            <required>0</required>
            <label>msrp</label>
        </msrp>
        <g14_price>
            <required>0</required>
            <label>g14_price</label>
        </g14_price>
        <g18_price>
            <required>0</required>
            <label>g18_price</label>
        </g18_price>
        <plat_price>
            <required>0</required>
            <label>plat_price</label>
        </plat_price>
        <pall_price>
            <required>0</required>
            <label>pall_price</label>
        </pall_price>
        <notes>
            <required>0</required>
            <label>notes</label>
        </notes>
        <image>
            <required>0</required>
            <label>image</label>
        </image>
        <small_image>
            <required>0</required>
            <label>small_image</label>
        </small_image>
        <thumbnail>
            <required>0</required>
            <label>thumbnail</label>
        </thumbnail>
        <gallery>
            <required>0</required>
            <label>gallery</label>
        </gallery>
        <video>
            <required>0</required>
            <label>video</label>
        </video>
        <meta_keyword>
            <required>0</required>
            <label>meta_keyword</label>
        </meta_keyword>
        <meta_title>
            <required>0</required>
            <label>meta_title</label>
        </meta_title>
        <meta_description>
            <required>0</required>
            <label>meta_description</label>
        </meta_description>
        <country_of_manufacture>
            <required>0</required>
            <label>country_of_manufacture</label>
        </country_of_manufacture>
        <bandwidth>
            <required>0</required>
            <label>bandwidth</label>
        </bandwidth>
        <ring_height>
            <required>0</required>
            <label>ring_height</label>
        </ring_height>
        <dimension>
            <required>0</required>
            <label>dimension</label>
        </dimension>
        <dimension_height>
            <required>0</required>
            <label>dimension_height</label>
        </dimension_height>
        <dimension_length>
            <required>0</required>
            <label>dimension_length</label>
        </dimension_length>
        <dimension_width>
            <required>0</required>
            <label>dimension_width</label>
        </dimension_width>
        <total_diam_weight>
            <required>0</required>
            <label>total_diam_weight</label>
        </total_diam_weight>
        <total_diam_pcs>
            <required>0</required>
            <label>total_diam_pcs</label>
        </total_diam_pcs>
        <center_stone_sizes>
            <required>0</required>
            <label>center_stone_sizes</label>
        </center_stone_sizes>
        <center_size_availability>
        	<required>0</required>
            <label>center_size_availability</label>
        </center_size_availability>
        <center_shape_availability>
        	<required>0</required>
            <label>center_shape_availability</label>
        </center_shape_availability>
        <style>
            <required>0</required>
            <label>style</label>
        </style>
        <setting>
            <required>0</required>
            <label>setting</label>
        </setting>
        <manufacturer>
            <required>0</required>
            <label>manufacturer</label>
        </manufacturer>
        <collections>
            <required>0</required>
            <label>collections</label>
        </collections>
        <gender>
            <required>0</required>
            <label>gender</label>
        </gender>
        <center_stone_shapes>
            <required>0</required>
            <label>center_stone_shapes</label>
        </center_stone_shapes>
        <type>
            <required>0</required>
            <label>type</label>
        </type>
        <metal_type>
            <reuired>0</reuired>
            <label>metal_type</label>
        </metal_type>
        <watch_type>
            <reuired>0</reuired>
            <label>watch_type</label>
        </watch_type>
        <primary_stone>
            <reuired>0</reuired>
            <label>primary_stone</label>
        </primary_stone>
        <gemstone>
            <required>0</required>
            <label>gemstone</label>
        </gemstone>
        <average_color>
            <required>0</required>
            <label>average_color</label>
        </average_color>
        <average_clarity>
            <required>0</required>
            <label>average_clarity</label>
        </average_clarity>
        <diamond_carat>
            <required>0</required>
            <label>diamond_carat</label>
        </diamond_carat>
        <weight>
            <required>0</required>
            <label>weight</label>
        </weight>
    </jewelerslink_watches_attributes>
    
    <crontab>
        <jobs>
            <ideal_watches_export_cron>
            	<schedule>
                    <config_path>cronjobs/watches/cron_expr_export</config_path>
                </schedule>
                <run>
                    <model>jewelerslink_watches/observer::jewelerslinkExport</model>
                </run>
            </ideal_watches_export_cron>
            
            <ideal_watches_import_cron>
            	<schedule>
                    <config_path>cronjobs/watches/cron_expr_export</config_path>
                </schedule>
                <run>
                    <model>jewelerslink_watches/observer::jewelerslinkWatchImport</model>
                </run>
            </ideal_watches_import_cron>
            
            <ideal_watches_update_cron>
            	<schedule>
                    <config_path>cronjobs/watches/cron_expr_update</config_path>
                </schedule>
                <run>
                    <model>jewelerslink_watches/observer::jewelerslinkWatchUpdate</model>
                </run>
            </ideal_watches_update_cron>
            
    	</jobs>
    </crontab>
    
    <default>
		<watches>
			<settings>
				<ftp_server>jewelerslink.com</ftp_server>
				<ftp_user>watches@jewelerslink.com</ftp_user>
				<ftp_password>jewelerslink123</ftp_password>
				<jewelerslinkjwshare_update>1</jewelerslinkjwshare_update>
			</settings>
		</watches>
		<cronjobs>
            <watches>
                <enabled_export>1</enabled_export>
                <cron_expr_export>0 3 * * *</cron_expr_export>
                
                <enabled_import>1</enabled_import>
                <cron_expr_import>15 3 * * *</cron_expr_import>
                
                <enabled_update>1</enabled_update>
                <cron_expr_update>30 3 * * *</cron_expr_update>
            </watches>
        </cronjobs>
	</default>
	
</config>