<?xml version="1.0"?>
<config>
	<modules>
		<Dolphin_Brandfilter>
			<version>1.0.0</version>
		</Dolphin_Brandfilter>
	</modules>
	<frontend>
		<routers>
			<brandfilter>
				<use>standard</use>
				<args>
					<module>Dolphin_Brandfilter</module>
					<frontName>brandfilter</frontName>
				</args>
			</brandfilter>
		</routers> 
	</frontend>
	<global>
		<helpers>
			<brandfilter>
				<class>Dolphin_Brandfilter_Helper</class>
			</brandfilter>
		</helpers>	 
	</global>
</config> 