<?xml version="1.0"?>
<config>
    <modules>
        <BlueAcorn_NewRelicReporting>
            <version>1.1.0</version>
        </BlueAcorn_NewRelicReporting>
    </modules>
    <global>
        <models>
            <blueacorn_newrelicreporting>
                <class>BlueAcorn_NewRelicReporting_Model</class>
                <resourceModel>blueacorn_newrelicreporting_resource</resourceModel>
            </blueacorn_newrelicreporting>
            <blueacorn_newrelicreporting_resource>
                <class>BlueAcorn_NewRelicReporting_Model_Resource</class>
                <entities>
                    <counts>
                        <table>reporting_counts</table>
                    </counts>
                    <orders>
                        <table>reporting_orders</table>
                    </orders>
                    <users>
                        <table>reporting_users</table>
                    </users>
                    <system>
                        <table>reporting_system_updates</table>
                    </system>
                    <module>
                        <table>reporting_module_status</table>
                    </module>
                </entities>
            </blueacorn_newrelicreporting_resource>
        </models>
        <blocks>
            <blueacorn_newrelicreporting>
                <class>BlueAcorn_NewRelicReporting_Block</class>
            </blueacorn_newrelicreporting>
        </blocks>
        <helpers>
            <blueacorn_newrelicreporting>
                <class>BlueAcorn_NewRelicReporting_Helper</class>
            </blueacorn_newrelicreporting>
        </helpers>
        <resources>
            <blueacorn_newrelicreporting_setup>
                <setup>
                    <module>BlueAcorn_NewRelicReporting</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </blueacorn_newrelicreporting_setup>
        </resources>
        <events>
            <!-- Cron Events -->
            <reporting_system_module_data>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_Observer</class>
                        <method>reportModules</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_system_module_data>
            <reporting_catalog_products_count>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_Observer</class>
                        <method>reportProductsSize</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_catalog_products_count>
            <reporting_catalog_products_configurable_count>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_Observer</class>
                        <method>reportConfigurableProductsSize</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_catalog_products_configurable_count>
            <reporting_catalog_products_active>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_Observer</class>
                        <method>reportProductsActive</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_catalog_products_active>
            <reporting_catalog_category_count>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_Observer</class>
                        <method>reportCategorySize</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_catalog_category_count>
            <!-- End Cron Events -->

            <!-- Cron Events -->
            <!-- NewRelic Observer Events -->
            <reporting_system_module_data>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_NewRelic_Observer</class>
                        <method>reportModules</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_system_module_data>

            <reporting_catalog_products_count>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_NewRelic_Observer</class>
                        <method>reportProductsCount</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_catalog_products_count>
            <reporting_catalog_products_configurable_count>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_NewRelic_Observer</class>
                        <method>reportConfigurableProductsCount</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_catalog_products_configurable_count>
            <reporting_catalog_products_active>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_NewRelic_Observer</class>
                        <method>reportProductsActive</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_catalog_products_active>
            <reporting_catalog_category_count>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_NewRelic_Observer</class>
                        <method>reportCategoryCount</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_catalog_category_count>
            <reporting_website_count>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_NewRelic_Observer</class>
                        <method>reportWebsiteCount</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_website_count>
            <reporting_store_views_count>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_NewRelic_Observer</class>
                        <method>reportStoreViewsCount</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_store_views_count>
            <reporting_customer_count>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_NewRelic_Observer</class>
                        <method>reportCustomerCount</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_customer_count>
            <reporting_cron_after>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_NewRelic_Observer</class>
                        <method>afterCron</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_cron_after>
            <!-- End New Relic Observer Events -->
            <!-- End Cron Events -->
        </events>
    </global>
    <frontend>
        <events>
            <reporting_user_concurrent_users>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_Observer</class>
                        <method>reportConcurrentUsers</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_user_concurrent_users>
            <reporting_sales_order_place>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_Observer</class>
                        <method>reportOrderPlaced</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_sales_order_place>

            <sales_order_place_after>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_Observer</class>
                        <method>dispatchOrderPlaced</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </sales_order_place_after>
            <controller_action_predispatch>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_Observer</class>
                        <method>dispatchConcurrentUsers</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </controller_action_predispatch>
            <!-- New Relic Observer Events -->
            <reporting_sales_order_place>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_NewRelic_Observer</class>
                        <method>reportOrderPlaced</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_sales_order_place>

            <reporting_user_concurrent_users>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_NewRelic_Observer</class>
                        <method>reportConcurrentUsers</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_user_concurrent_users>
            <!-- End New Relic Observer Events -->
        </events>
    </frontend>
    <adminhtml>
        <events>
            <reporting_system_cache_flush>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_Observer</class>
                        <method>reportFlushSystemCache</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_system_cache_flush>
            <reporting_user_concurrent_admins>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_Observer</class>
                        <method>reportConcurrentAdmins</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_user_concurrent_admins>
            <reporting_catalog_product_delete>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_Observer</class>
                        <method>reportProductDeleted</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_catalog_product_delete>
            <reporting_catalog_product_create>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_Observer</class>
                        <method>reportProductCreated</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_catalog_product_create>
            <reporting_catalog_product_update>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_Observer</class>
                        <method>reportProductUpdated</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_catalog_product_update>

            <adminhtml_cache_flush_system>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_Observer</class>
                        <method>dispatchFlushSystemCache</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </adminhtml_cache_flush_system>
            <controller_action_predispatch_adminhtml>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_Observer</class>
                        <method>dispatchConcurrentAdmins</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </controller_action_predispatch_adminhtml>
            <catalog_product_delete_after_done>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_Observer</class>
                        <method>dispatchProductDeleted</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </catalog_product_delete_after_done>
            <catalog_product_save_before>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_Observer</class>
                        <method>dispatchProductSaved</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </catalog_product_save_before>
            <!-- New Relic Observer Events -->
            <reporting_user_concurrent_admins>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_NewRelic_Observer</class>
                        <method>reportConcurrentAdmins</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_user_concurrent_admins>
            <reporting_catalog_product_delete>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_NewRelic_Observer</class>
                        <method>reportProductDeleted</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_catalog_product_delete>
            <reporting_catalog_product_create>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_NewRelic_Observer</class>
                        <method>reportProductCreated</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_catalog_product_create>
            <reporting_catalog_product_update>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_NewRelic_Observer</class>
                        <method>reportProductUpdated</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_catalog_product_update>
            <reporting_system_cache_flush>
                <observers>
                    <blueacorn_newrelicreporting>
                        <class>BlueAcorn_NewRelicReporting_Model_NewRelic_Observer</class>
                        <method>reportFlushSystemCache</method>
                    </blueacorn_newrelicreporting>
                </observers>
            </reporting_system_cache_flush>
            <!-- End New Relic Observer Events -->
            
        </events>
    </adminhtml>
    <default>
        <blueacorn_newrelicreporting>
            <general>
                <api_url>https://api.newrelic.com/deployments.xml</api_url>
                <insights_api_url>https://insights-collector.newrelic.com/v1/accounts/%s/events</insights_api_url>
            </general>
        </blueacorn_newrelicreporting>
    </default>
    <crontab>
        <jobs>
            <blueacorn_newrelicreporting>
                <schedule>
                    <cron_expr>*/2 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>blueacorn_newrelicreporting/cron::runCron</model>
                </run>
            </blueacorn_newrelicreporting>
        </jobs>
    </crontab>
</config>