<?xml version="1.0"?>
<config>
    <modules>
        <Ideal_Diamondsearch>
            <version>0.2.2</version>
        </Ideal_Diamondsearch>
    </modules>
    <frontend>
        <routers>
            <diamondsearch>
                <use>standard</use>
                <args>
                    <module>Ideal_Diamondsearch</module>
                    <frontName>diamondsearch</frontName>
                </args>
            </diamondsearch>
        </routers>
        <layout>
            <updates>
                <diamondsearch>
                    <file>diamondsearch.xml</file>
                </diamondsearch>
            </updates>
        </layout>
    </frontend>
	<admin>
	    <routers>
	        <adminhtml>
	            <args>
	                <modules>
	                    <diamondsearch after="Mage_Adminhtml">Ideal_Diamondsearch_Adminhtml</diamondsearch>
	                </modules>
	            </args>
	        </adminhtml>
	    </routers>
	</admin>
    <adminhtml>
		<menu>
			<jewelryshare module="diamondsearch">
				<title>Jewelrslink</title>
				<sort_order>30</sort_order>               
				<children>
					<diamond_search_settings module="diamondsearch">
						<title>Diamond Search Settings</title>
						<sort_order>100</sort_order>
						<action>adminhtml/diamondsearch/settings</action>
					</diamond_search_settings>
				</children>
			</jewelryshare>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<jewelryshare module="diamondsearch">
							<title>Jewelerslink</title>
							<sort_order>30</sort_order>  
							<children>
								<diamond_search_settings module="diamondsearch">
									<title>Diamond Search Settings</title>
									<sort_order>100</sort_order>
								</diamond_search_settings>
							</children>
						</jewelryshare>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<diamondsearch>
					<file>diamondsearch.xml</file>
				</diamondsearch>
			</updates>
		</layout>
    </adminhtml>
    <global>
		<events>
            <controller_front_init_routers>
                <observers>
                    <diamondsearch>
                        <class>Ideal_Diamondsearch_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </diamondsearch>
                </observers>
            </controller_front_init_routers>
        </events>
        
        <models>
            <diamondsearch>
                <class>Ideal_Diamondsearch_Model</class>
                <resourceModel>diamondsearch_mysql4</resourceModel>
            </diamondsearch>
            <diamondsearch_mysql4>
                <class>Ideal_Diamondsearch_Model_Mysql4</class>
                <entities>
                    <diamondsearch>
                        <table>uploadtool_diamonds_inventory</table>
                    </diamondsearch>
                </entities>
            </diamondsearch_mysql4>
        </models>
        <resources>
            <diamondsearch_setup>
                <setup>
                    <module>Ideal_Diamondsearch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </diamondsearch_setup>
            <diamondsearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </diamondsearch_write>
            <diamondsearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </diamondsearch_read>
        </resources>
        <blocks>
            <diamondsearch>
                <class>Ideal_Diamondsearch_Block</class>
            </diamondsearch>
        </blocks>
        <helpers>
            <diamondsearch>
                <class>Ideal_Diamondsearch_Helper</class>
            </diamondsearch>
        </helpers>
        <!--events>
            <controller_front_init_routers>
                <observers>
                    <manufacturer>
                        <class>Perficient_Manufacturer_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </manufacturer>
                </observers>
            </controller_front_init_routers>
        </events-->
        <!--
        <events>
            <controller_front_init_routers>
                <observers>
                    <diamondsearch>
                        <class>Ideal_Diamondsearch_Controller_Router</class>
                        <method>initControllerRouters</method> 
                    </diamondsearch>
                </observers>
            </controller_front_init_routers>
        </events>
        <events>
            <controller_front_init_routers>
                <observers>
                    <diamondsearch>
                        <class>Ideal_Diamondsearch_Model_Observer</class>
                        <method>addDynamicFrontnames</method>
                    </diamondsearch>
                </observers>
            </controller_front_init_routers>
        </events>
        -->
    </global>
	<default>
		<!--<web>
			<routers>
				<diamondsearchroute>
				   <area>frontend</area>
				   <class>Ideal_Diamondsearch_Controller_Router</class>
				</diamondsearchroute>
			</routers>
		</web>-->
		<diamondsearch>
			<general_settings>
				<ds_skin>New</ds_skin>
			</general_settings>
			<general_settings>
				<frontend_url>diamond-search</frontend_url>
			</general_settings>
			<general_settings>
				<view_mode>list_only</view_mode>
			</general_settings>
			<general_settings>
				<compare_request>0</compare_request>
			</general_settings>
			<general_settings>
				<showblock_detail>1</showblock_detail>
			</general_settings>
			<general_settings>
				<diamond_description>This {{carat}} Carat, {{cut}} Cut, {{color}} color and {{clarity}} clarity {{shape}} shaped diamond is accompanied by {{certificate}} grading report.</diamond_description>
			</general_settings>
			<general_settings>
				<certificate_sample>dsearch/sample_cert.jpg</certificate_sample>
			</general_settings>
			<design_settings>
				<table_sort_arrow_style>dark</table_sort_arrow_style>
			</design_settings>
			<shape_settings>
				<shape_style>outline</shape_style>
			</shape_settings>
			<general_settings>
				<showcolumn_rapdiscount>0</showcolumn_rapdiscount>
			</general_settings>
			<general_settings>
				<showcolumn_availability>0</showcolumn_availability>
			</general_settings>
			<general_settings>
				<diamondscookie_expirytime>5</diamondscookie_expirytime>
			</general_settings>
			<general_settings>
				<diamonds_show_bankwireprice>0</diamonds_show_bankwireprice>
			</general_settings>
			<general_settings>
				<show_measurement_image>1</show_measurement_image>
			</general_settings>
			<general_settings>
				<showcolumn_dimensions>0</showcolumn_dimensions>
			</general_settings>
			<general_settings>
				<showcolumn_depth>0</showcolumn_depth>
			</general_settings>
			<general_settings>
				<showcolumn_tabl>0</showcolumn_tabl>
			</general_settings>
			<general_settings>
				<disable_lab>0</disable_lab>
			</general_settings>
			<general_settings>
				<showcolumn_inhouse>0</showcolumn_inhouse>
			</general_settings>
			<general_settings>
				<sample_avilability>0</sample_avilability>
			</general_settings>
			<general_settings>
				<spacial_diamond_avilability>0</spacial_diamond_avilability>
			</general_settings>
			<general_settings>
				<disable_advanced_search>0</disable_advanced_search>
			</general_settings>
			<general_settings>
				<deafault_filter_by>carat</deafault_filter_by>
			</general_settings>
			<general_settings>
				<deafault_sort_by>asc</deafault_sort_by>
			</general_settings>
			
			<general_settings>
				<show_only_inhouse>0</show_only_inhouse>
			</general_settings>
			
			<general_settings>
				<diamondsview_button_text>VIEW DIAMOND</diamondsview_button_text>
			</general_settings>
			<general_settings>
				<diamondsview_carat_title>CARAT</diamondsview_carat_title>
			</general_settings>
			<general_settings>
				<use_as_gemsearch>0</use_as_gemsearch>
			</general_settings>
			
			<general_settings>
				<enable_optionslider_color_clarity>0</enable_optionslider_color_clarity>
			</general_settings>
			<general_settings>
				<custom_diamond_certificate>0</custom_diamond_certificate>
			</general_settings>
			<general_settings>
				<custom_diamond_inhouse>0</custom_diamond_inhouse>
			</general_settings>
			<general_settings>
				<custom_diamond_image>0</custom_diamond_image>
			</general_settings>
			<design_settings>
				<shape_bgcolor>#d2daed</shape_bgcolor>
			</design_settings>
		</diamondsearch>
	</default>
</config>
