<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <LC_CategoryExternalLink>
            <version>1.0.0</version>
        </LC_CategoryExternalLink>
    </modules>
    <global>
        <models>
            <lc_categoryexternallink>
                <class>LC_CategoryExternalLink_Model</class>
                <resourceModel>lc_categoryexternallink_mysql4</resourceModel>
            </lc_categoryexternallink>
            <lc_categoryexternallink_mysql4>
                <class>LC_CategoryExternalLink_Model_Mysql4</class>
            </lc_categoryexternallink_mysql4>
        </models>
        <resources>
            <lc_categoryexternallink_setup>
                <setup>
                    <module>LC_CategoryExternalLink</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lc_categoryexternallink_setup>
            <lc_categoryexternallink_write>
              <connection>
                <use>core_write</use>
              </connection>
            </lc_categoryexternallink_write>
            <lc_categoryexternallink_read>
              <connection>
                <use>core_read</use>
              </connection>
            </lc_categoryexternallink_read>
        </resources>
        <helpers>
            <lc_categoryexternallink><class>LC_CategoryExternalLink_Helper</class></lc_categoryexternallink>
        </helpers>
    </global>
    <frontend>
        <events>
            <catalog_controller_category_init_after>
                <observers>
                    <lc_categoryexternallink_view>
                        <type>singleton</type>
                        <class>lc_categoryexternallink/observer</class>
                        <method>CategoryExternalLink</method>
                    </lc_categoryexternallink_view>
                </observers>
            </catalog_controller_category_init_after>
        </events>
    </frontend>
</config>