<?xml version="1.0"?>
<config>
    <modules>
        <IBM_Builder>
            <version>0.1.0</version>
        </IBM_Builder>
    </modules>
    <global>
        <models>
            <IBMBuilder>
                <class>IBM_Builder_Model</class>
            </IBMBuilder>
        </models>
        <blocks>
            <IBMBuilder>
                <class>IBM_Builder_Block</class>
            </IBMBuilder>
            <adminhtml>
                <rewrite>
                    <cms_page_edit_tab_content>IBM_Builder_Block_Adminhtml_Cms_Page_EditTabContent</cms_page_edit_tab_content>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <controller_action_layout_render_before_adminhtml_cms_page_edit>
                <observers>
                    <IBMBuilder_observer>
                        <type>singleton</type>
                        <class>IBM_Builder_Model_Observer</class>
                        <method>eventCmsPageEditAction</method>
                    </IBMBuilder_observer>
                </observers>
            </controller_action_layout_render_before_adminhtml_cms_page_edit>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <IBMBuilder_observer>
                        <type>singleton</type>
                        <class>IBM_Builder_Model_Observer</class>
                        <method>eventGenerateBlocksAfter</method>
                    </IBMBuilder_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </global>
    <admin>
        <routers>
            <IBM_Builder_route>
                <use>admin</use>
                <args>
                    <module>IBM_Builder</module>
                    <frontName>ibmbuilder</frontName>
                </args>
            </IBM_Builder_route>
        </routers>
    </admin>
    <frontend>
        <routers>
            <IBM_Builder_front_route>
                <use>standard</use>
                <args>
                    <module>IBM_Builder</module>
                    <frontName>ibm_builder</frontName>
                </args>
            </IBM_Builder_front_route>
        </routers>
    </frontend>
</config>
