<?xml version="1.0"?>
<config>
    <modules>
        <Ideal_Coupon>
            <version>0.1.0</version>
        </Ideal_Coupon>
    </modules>
    <global>
        <blocks>
            <IdealCoupon>
                <class>Ideal_Coupon_Block</class>
            </IdealCoupon>
        </blocks>
        <helpers>
            <IdealCoupon>
                <class>Ideal_Coupon_Helper</class>
            </IdealCoupon>
        </helpers>
        <models>
            <IdealCoupon>
                <class>Ideal_Coupon_Model</class>
                <resourceModel>IdealCoupon_resource</resourceModel>
            </IdealCoupon>
            <IdealCoupon_resource>
                <class>Ideal_Coupon_Model_Resource</class>
                <entities>
                    <coupon>
                        <table>ideal_sales_rule_url</table>
                    </coupon>
                </entities>
            </IdealCoupon_resource>
        </models>
        <resources>
            <idealcoupon_setup>
                <setup>
                    <module>Ideal_Coupon</module>
                </setup>
            </idealcoupon_setup>
        </resources>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <IdealCoupon_observer>
                        <type>singleton</type>
                        <class>Ideal_Coupon_Model_Observer</class>
                        <method>layoutGenerateBlocksAfter</method>
                    </IdealCoupon_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </global>
    <frontend>
        <events>
            <sales_quote_save_after>
                <observers>
                    <IdealCoupon_observer>
                        <type>singleton</type>
                        <class>Ideal_Coupon_Model_Observer</class>
                        <method>salesQuoteSaveAfter</method>
                    </IdealCoupon_observer>
                </observers>
            </sales_quote_save_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <Ideal_Coupon_route>
                <use>admin</use>
                <args>
                    <module>Ideal_Coupon</module>
                    <frontName>idealcoupon</frontName>
                </args>
            </Ideal_Coupon_route>
        </routers>
    </admin>
</config>
