<?xml version="1.0"?>
<config>
  <modules>
    <Dolphin_Modelfinder>
      <version>0.1.0</version>
    </Dolphin_Modelfinder>
  </modules>
  <frontend>
    <routers>
      <modelfinder>
        <use>standard</use>
          <args>
            <module>Dolphin_Modelfinder</module>
            <frontName>modelfinder</frontName>
          </args>
      </modelfinder>
    </routers>
		<layout>
		  <updates>
			<modelfinder>
			  <file>modelfinder.xml</file>
			</modelfinder>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <modelfinder>
        <class>Dolphin_Modelfinder_Helper</class>
      </modelfinder>
    </helpers>
	<blocks>
	  <modelfinder>
		<class>Dolphin_Modelfinder_Block</class>
	  </modelfinder>
	</blocks>
  </global>
</config> 