<?xml version="1.0"?>
<config>
    <modules>
        <Ideal_Evolved>
            <version>0.1.4</version>
        </Ideal_Evolved>
    </modules>
    <frontend>
        <routers>
            <evolved>
                <use>standard</use>
                <args>
                    <module>Ideal_Evolved</module>
                    <frontName>evolved</frontName>
                </args>
            </evolved>
        </routers>
        <layout>
            <updates>
                <evolved>
                    <file>evolved.xml</file>
                </evolved>
            </updates>
        </layout>
    </frontend>
    <!-- <admin>
        <routers>
			<evolved>
				<use>admin</use>
				<args>
					<module>Ideal_Evolved</module>
					<frontName>evolved</frontName>
				</args>
			</evolved>
        </routers>
    </admin> -->
    <admin>
	    <routers>
	        <adminhtml>
	            <args>
	                <modules>
	                    <evolved after="Mage_Adminhtml">Ideal_Evolved_Adminhtml</evolved>
	                </modules>
	            </args>
	        </adminhtml>
	    </routers>
	</admin>
    <adminhtml>
		<menu>
			<theme module="evolved">
				<children>
								<evolved_comingsoon>
									<title>Coming Soon</title>
									<sort_order>1</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_comingsoon</action>
								</evolved_comingsoon>
								<evolved_general>
									<title>General</title>
									<sort_order>10</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_general</action>
								</evolved_general>
								<evolved_fonts>
									<title>Fonts</title>
									<sort_order>20</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_fonts</action>
								</evolved_fonts>
								<evolved_buttons>
									<title>Buttons</title>
									<sort_order>30</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_buttons</action>
								</evolved_buttons>
								<evolved_header>
									<title>Header</title>
									<sort_order>40</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_header</action>
								</evolved_header>
								<evolved_footer>
									<title>Footer</title>
									<sort_order>50</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_footer</action>
								</evolved_footer>
								<evolved_homepage>
									<title>Home Page</title>
									<sort_order>60</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_homepage</action>
								</evolved_homepage>
								<evolved_newsletter>
									<title>Newsletter</title>
									<sort_order>70</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_newsletter</action>
								</evolved_newsletter>
								<evolved_contactus>
									<title>Contact Us</title>
									<sort_order>80</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_contacts</action>
								</evolved_contactus>
								<evolved_diamondeducation>
									<title>Diamond Education</title>
									<sort_order>90</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_diamondeducation</action>
								</evolved_diamondeducation>
								<evolved_pages>
									<title>Pages</title>
									<sort_order>100</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_pages</action>
								</evolved_pages>
								<evolved_productlist>
									<title>Product List</title>
									<sort_order>110</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_productlist</action>
								</evolved_productlist>
								<evolved_productdetails>
									<title>Product Details</title>
									<sort_order>120</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_productdetails</action>
								</evolved_productdetails>
								<evolved_myaccountlogin>
									<title>My Account / Login</title>
									<sort_order>130</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_myaccountlogin</action>
								</evolved_myaccountlogin>
								<evolved_social>
									<title>Social</title>
									<sort_order>140</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_social</action>
								</evolved_social>
								<evolved_livechat>
									<title>Live Chat</title>
									<sort_order>150</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_livechat</action>
								</evolved_livechat>
								<evolved_payment>
									<title>Checkout</title>
									<sort_order>160</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_checkout</action>
								</evolved_payment>
								<evolved_shoppingcart>
									<title>Shopping Cart</title>
									<sort_order>170</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_shipping</action>
								</evolved_shoppingcart>
								<evolved_termsandconditions>
									<title>Terms and Conditions</title>
									<sort_order>180</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_termsandconditions</action>
								</evolved_termsandconditions>
								<evolved_aboutus>
									<title>About Us</title>
									<sort_order>190</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_aboutus</action>
								</evolved_aboutus>
								<evolved_testimonials>
									<title>Testimonials</title>
									<sort_order>200</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_testimonials</action>
								</evolved_testimonials>
								<evolved_designer>
									<title>Designer</title>
									<sort_order>210</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_designer</action>
								</evolved_designer>
								<evolved_events>
									<title>Events</title>
									<sort_order>220</sort_order>
									<action>adminhtml/evolved/settings/block/evolved_events</action>
								</evolved_events>
				</children>
			</theme>
		</menu>
		<acl>
			<resources>
			
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<theme module="evolved">
							<children>
								<evolved_comingsoon>
									<title>Coming Soon</title>
									<sort_order>1</sort_order>
								</evolved_comingsoon>
								<evolved_general>
									<title>General</title>
									<sort_order>10</sort_order>
								</evolved_general>
								<evolved_fonts>
									<title>Fonts</title>
									<sort_order>20</sort_order>
								</evolved_fonts>
								<evolved_buttons>
									<title>Buttons</title>
									<sort_order>30</sort_order>
								</evolved_buttons>
								<evolved_header>
									<title>Header</title>
									<sort_order>40</sort_order>
								</evolved_header>
								<evolved_footer>
									<title>Footer</title>
									<sort_order>50</sort_order>
								</evolved_footer>
								<evolved_homepage>
									<title>Home Page</title>
									<sort_order>60</sort_order>
								</evolved_homepage>
								<evolved_newsletter>
									<title>Newsletter</title>
									<sort_order>70</sort_order>
								</evolved_newsletter>
								<evolved_contactus>
									<title>Contact Us</title>
									<sort_order>80</sort_order>
								</evolved_contactus>
								<evolved_diamondeducation>
									<title>Diamond Education</title>
									<sort_order>90</sort_order>
								</evolved_diamondeducation>
								<evolved_pages>
									<title>Pages</title>
									<sort_order>100</sort_order>
								</evolved_pages>
								<evolved_productlist>
									<title>Product List</title>
									<sort_order>110</sort_order>
								</evolved_productlist>
								<evolved_productdetails>
									<title>Product Details</title>
									<sort_order>120</sort_order>
								</evolved_productdetails>
								<evolved_myaccountlogin>
									<title>My Account / Login</title>
									<sort_order>130</sort_order>
								</evolved_myaccountlogin>
								<evolved_social>
									<title>Social</title>
									<sort_order>140</sort_order>
								</evolved_social>
								<evolved_livechat>
									<title>Live Chat</title>
									<sort_order>150</sort_order>
								</evolved_livechat>
								<evolved_payment>
									<title>Checkout</title>
									<sort_order>160</sort_order>
								</evolved_payment>
								<evolved_shoppingcart>
									<title>Shopping Cart</title>
									<sort_order>170</sort_order>
								</evolved_shoppingcart>
								<evolved_termsandconditions>
									<title>Terms and Conditions</title>
									<sort_order>180</sort_order>
								</evolved_termsandconditions>
								<evolved_aboutus>
									<title>About Us</title>
									<sort_order>190</sort_order>
								</evolved_aboutus>
								<evolved_testimonials>
									<title>Testimonials</title>
									<sort_order>200</sort_order>
								</evolved_testimonials>
								<evolved_designer>
									<title>Designer</title>
									<sort_order>210</sort_order>
								</evolved_designer>
								<evolved_events>
									<title>Events</title>
									<sort_order>220</sort_order>
								</evolved_events>
							</children>
						</theme>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<evolved>
					<file>evolved.xml</file>
				</evolved>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <evolved>
                <class>Ideal_Evolved_Model</class>
                <resourceModel>evolved_mysql4</resourceModel>
            </evolved>
            <evolved_mysql4>
                <class>Ideal_Evolved_Model_Mysql4</class>
                <entities>
                    <evolved>
                        <table>evolved</table>
                    </evolved>
                </entities>
            </evolved_mysql4>
        </models>
        <resources>
            <evolved_setup>
                <setup>
                    <module>Ideal_Evolved</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </evolved_setup>
            <evolved_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </evolved_write>
            <evolved_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </evolved_read>
        </resources>
        <blocks>
            <evolved>
                <class>Ideal_Evolved_Block</class>
            </evolved>
        </blocks>
        <helpers>
            <evolved>
                <class>Ideal_Evolved_Helper</class>
            </evolved>
        </helpers>
    </global>
</config>