<?xml version="1.0"?>
<config>
    <modules>
        <Ideal_Categoryassign>
            <version>1.0.0</version>
        </Ideal_Categoryassign>
    </modules>
    <!-- <frontend>
        <routers>
            <categoryassign>
                <use>standard</use>
                <args>
                    <module>Ideal_Categoryassign</module>
                    <frontName>categoryassign</frontName>
                </args>
            </categoryassign>
        </routers>
        <layout>
            <updates>
                <categoryassign>
                    <file>categoryassign.xml</file>
                </categoryassign>
            </updates>
        </layout>
    </frontend> -->
    <admin>
        <routers>
			<categoryassign>
				<use>admin</use>
				<args>
					<module>Ideal_Categoryassign</module>
					<frontName>categoryassign</frontName>
				</args>
			</categoryassign>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<catalog>
        		<children>
					<categoryassign>
						<title>Category Assignment</title>
						<sort_order>100</sort_order>
						<action>categoryassign/adminhtml_categoryassign/export/</action>
					</categoryassign>
				</children>
			</catalog>
		</menu>
		
		<acl>
            <resources>
                <admin>
                    <children>
                        <sales>
                            <children>
								<categoryassign>
									<title>Category Assignment</title>
								</categoryassign>
							</children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
		<layout>
			<updates>
				<categoryassign>
					<file>categoryassign.xml</file>
				</categoryassign>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <!-- <models>
            <categoryassign>
                <class>Ideal_Categoryassign_Model</class>
                <resourceModel>Categoryassign_mysql4</resourceModel>
            </categoryassign>
            <categoryassign_mysql4>
                <class>Ideal_Categoryassign_Model_Mysql4</class>
                <entities>
                    <categoryassign>
                        <table>Categoryassign</table>
                    </categoryassign>
                </entities>
            </categoryassign_mysql4>
        </models>
        <resources>
            <categoryassign_setup>
                <setup>
                    <module>Ideal_Categoryassign</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </categoryassign_setup>
            <categoryassign_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </categoryassign_write>
            <categoryassign_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </categoryassign_read>
        </resources> -->
        <blocks>
            <categoryassign>
                <class>Ideal_Categoryassign_Block</class>
            </categoryassign>
        </blocks>
        <helpers>
            <categoryassign>
                <class>Ideal_Categoryassign_Helper</class>
            </categoryassign>
        </helpers>
    </global>
</config>