<?xml version="1.0"?>
<config>
    <modules>
        <Ideal_Flushcache>
            <version>0.1.0</version>
        </Ideal_Flushcache>
    </modules>
    <adminhtml>
        <events>
            <cms_page_save_after>
                <observers>
                    <ideal_cms_page_flushcache>
                        <type>model</type>
                        <class>flushcache/observer</class>
                        <method>cmsPageSaveAfter</method>
                    </ideal_cms_page_flushcache>
                </observers>
            </cms_page_save_after>
            <cms_block_save_after>
                <observers>
                    <ideal_cms_block_flushcache>
                        <type>model</type>
                        <class>flushcache/observer</class>
                        <method>cmsBlockSaveAfter</method>
                    </ideal_cms_block_flushcache>
                </observers>
            </cms_block_save_after>
            <catalog_product_save_before>
                <observers>
                    <ideal_redundant_gallery>
                        <type>model</type>
                        <class>flushcache/observer</class>
                        <method>removeBadGallery</method>
                    </ideal_redundant_gallery>
                </observers>
            </catalog_product_save_before>
        </events>
    </adminhtml>
    <global>
        <models>
            <flushcache>
                <class>Ideal_Flushcache_Model</class>
            </flushcache>
        </models>
        
        <helpers>
            <flushcache>
                <class>Ideal_Flushcache_Helper</class>
            </flushcache>
        </helpers>
    </global>
</config>