<?xml version="1.0"?>
<config>
    <modules>
        <Mycomp_Pricemanager>
            <version>1.1.0</version>
        </Mycomp_Pricemanager>
    </modules>
    <frontend>
        <routers>
            <pricemanager>
                <use>standard</use>
                <args>
                    <module>Mycomp_Pricemanager</module>
                    <frontName>pricemanager</frontName>
                </args>
            </pricemanager>
        </routers>
        <layout>
            <updates>
                <pricemanager>
                    <file>pricemanager.xml</file>
                </pricemanager>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<pricemanager>
				<use>admin</use>
				<args>
					<module>Mycomp_Pricemanager</module>
					<frontName>pricemanager</frontName>
				</args>
			</pricemanager>
        </routers>
    </admin>
    <global>
        <models>
            <pricemanager>
                <class>Mycomp_Pricemanager_Model</class>
                <resourceModel>pricemanager_mysql4</resourceModel>
            </pricemanager>
            <pricemanager_mysql4>
                <class>Mycomp_Pricemanager_Model_Mysql4</class>
                <entities>
                    <pricemanager>
                        <table>pricemanager</table>
                    </pricemanager>
                </entities>
            </pricemanager_mysql4>
        </models>
        <resources>
            <pricemanager_setup>
                <setup>
                    <module>Mycomp_Pricemanager</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pricemanager_setup>
            <pricemanager_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pricemanager_write>
            <pricemanager_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pricemanager_read>
        </resources>
        
        <helpers>
            <pricemanager>
                <class>Mycomp_Pricemanager_Helper</class>
            </pricemanager>
        </helpers>
    </global>
	<crontab> 
        <jobs>
            <pricemanager_updatepricemanegerprices>
                <schedule><cron_expr>0,15,30,45 * * * *</cron_expr></schedule>
                <run><model>pricemanager/observer::updatePricemanegerprices</model></run>
            </pricemanager_updatepricemanegerprices>
		</jobs>
    </crontab>
</config>