<?xml version="1.0"?>
<config>
    <modules>
        <Ideal_Brandmanager>
            <version>2.0.1</version>
        </Ideal_Brandmanager>
    </modules>
    <frontend>
        <routers>
            <brandmanager>
                <use>standard</use>
                <args>
                    <module>Ideal_Brandmanager</module>
                    <frontName>brandmanager</frontName>
                </args>
            </brandmanager>
        </routers>
        <layout>
            <updates>
                <brandmanager>
                    <file>brandmanager.xml</file>
                </brandmanager>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<brandmanager>
				<use>admin</use>
				<args>
					<module>Ideal_Brandmanager</module>
					<frontName>brandmanager</frontName>
				</args>
			</brandmanager>
        </routers>
    </admin>
    <adminhtml>
		
		<layout>
			<updates>
				<brandmanager>
					<file>brandmanager.xml</file>
				</brandmanager>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <brandmanager>
                <class>Ideal_Brandmanager_Model</class>
                <resourceModel>brandmanager_mysql4</resourceModel>
            </brandmanager>
            <brandmanager_mysql4>
                <class>Ideal_Brandmanager_Model_Mysql4</class>
                <entities>
                    <brandmanager>
                        <table>brandmanager</table>
                    </brandmanager>
                </entities>
            </brandmanager_mysql4>
        </models>
        <resources>
            <brandmanager_setup>
                <setup>
                    <module>Ideal_Brandmanager</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brandmanager_setup>
            <brandmanager_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brandmanager_write>
            <brandmanager_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brandmanager_read>
        </resources>
        <blocks>
            <brandmanager>
                <class>Ideal_Brandmanager_Block</class>
            </brandmanager>
        </blocks>
        <helpers>
            <brandmanager>
                <class>Ideal_Brandmanager_Helper</class>
            </brandmanager>
        </helpers>
    </global>
		<!-- <default>
			<brandmanager>
				<settings>
					<time_delay>6</time_delay>
					<show_description>1</show_description>
					<list_style>1</list_style>
					<image_width>450</image_width>
					<image_height>250</image_height>
				</settings>
			</brandmanager>
		</default> -->
</config>