<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Eternity>
            <version>1.0.0</version>
        </Mage_Eternity>
    </modules>
    <frontend>
        <routers>
            <eternity>
                <use>standard</use>
                <args>
                    <module>Mage_Eternity</module>
                    <frontName>eternity</frontName>
                </args>
            </eternity>
        </routers>
        <layout>
            <updates>
                <eternity>
                    <file>eternity.xml</file>
                </eternity>
            </updates>
        </layout>
    </frontend>
    <!-- <admin>
        <routers>
			<eternity>
				<use>admin</use>
				<args>
					<module>Mage_Eternity</module>
					<frontName>eternity</frontName>
				</args>
			</eternity>
        </routers>
    </admin> -->
    <admin>
	    <routers>
	        <adminhtml>
	            <args>
	                <modules>
	                    <eternity after="Mage_Adminhtml">Mage_Eternity_Adminhtml</eternity>
	                </modules>
	            </args>
	        </adminhtml>
	    </routers>
	</admin>
    
    <adminhtml>
		<menu>
			<catalog module="eternity">
        		<children>
					<eternity module="eternity">
						<title>Manage Eternity</title>
						<sort_order>0</sort_order>
						<action>adminhtml/eternity/new/</action>
					</eternity>
				</children>
			</catalog>
		</menu>
		<acl>
            <resources>
                <admin>
                    <children>
                        <catalog>
                            <children>
								<eternity>
										<title>Manage Eternity</title>
								</eternity>
							</children>
                        </catalog>						
                    </children>
                </admin>
            </resources>
        </acl>
		<layout>
			<updates>
				<eternity>
					<file>eternity.xml</file>
				</eternity>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <eternity>
                <class>Mage_Eternity_Model</class>
                <resourceModel>eternity_mysql4</resourceModel>
            </eternity>
            <eternity_mysql4>
                <class>Mage_Eternity_Model_Mysql4</class>
                <entities>
                    <appliedrule>
                        <table>eternity_applied_rule</table>
                    </appliedrule>
                   <diaprice>
                        <table>eternity_dia_price</table>
                   </diaprice>
                   <ringcost>
                        <table>eternity_ring_cost</table>
                   </ringcost>
                   <stoneqty>
                        <table>eternity_stone_qty</table>
                   </stoneqty>           
                </entities>
            </eternity_mysql4>
        </models>
        <resources>
            <eternity_setup>
                <setup>
                    <module>Mage_Eternity</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </eternity_setup>
            <eternity_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </eternity_write>
            <eternity_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </eternity_read>
        </resources>
        <blocks>
            <eternity>
                <class>Mage_Eternity_Block</class>
            </eternity>
        </blocks>
        <helpers>
            <eternity>
                <class>Mage_Eternity_Helper</class>
            </eternity>
        </helpers>
    </global>
</config>