<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Image2Product>
            <version>1.1.0</version>
        </Mage_Image2Product>
    </modules>
    <frontend>
        <routers>
            <Image2Product>
                <use>standard</use>
                <args>
                    <module>Mage_Image2Product</module>
                    <frontName>Image2Product</frontName>
                </args>
            </Image2Product>
        </routers>
        <layout>
            <updates>
                <Image2Product>
                    <file>Image2Product.xml</file>
                </Image2Product>
            </updates>
        </layout>
    </frontend>
    <!-- <admin>
        <routers>
			<Image2Product>
				<use>admin</use>
				<args>
					<module>Mage_Image2Product</module>
					<frontName>Image2Product</frontName>
				</args>
			</Image2Product>
        </routers>
    </admin> -->
    <admin>
	    <routers>
	        <adminhtml>
	            <args>
	                <modules>
	                    <Image2Product after="Mage_Adminhtml">Mage_Image2Product_Adminhtml</Image2Product>
	                </modules>
	            </args>
	        </adminhtml>
	    </routers>
	</admin>
    <adminhtml>
		<menu>
			<catalog module="Image2Product">
        		<children>
					<image2product module="Image2Product">
						<title>Image to Product</title>
					<sort_order>12</sort_order>
						<action>adminhtml/Image2Product/new/</action>
					</image2product>
				</children>
			</catalog>
		</menu>
		<acl>
            <resources>
                <admin>
                    <children>
                        <catalog>
                            <children>
								<image2product>
										<title>Image to Product</title>
								</image2product>
							</children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>
		<layout>
			<updates>
				<Image2Product>
					<file>Image2Product.xml</file>
				</Image2Product>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <Image2Product>
                <class>Mage_Image2Product_Model</class>
                <resourceModel>Image2Product_mysql4</resourceModel>
            </Image2Product>
            <Image2Product_mysql4>
                <class>Mage_Image2Product_Model_Mysql4</class>
                <entities>
                    <Image2Product>
                        <table>Image2Product</table>
                    </Image2Product>
                </entities>
            </Image2Product_mysql4>
        </models>
        <resources>
            <Image2Product_setup>
                <setup>
                    <module>Mage_Image2Product</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Image2Product_setup>
            <Image2Product_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Image2Product_write>
            <Image2Product_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Image2Product_read>
        </resources>
        <blocks>
            <Image2Product>
                <class>Mage_Image2Product_Block</class>
            </Image2Product>
        </blocks>
        <helpers>
            <Image2Product>
                <class>Mage_Image2Product_Helper</class>
            </Image2Product>
        </helpers>
    </global>
</config>