.financing-main {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}
.financing-main-sub1 h1 {
    color: #000;
    font-family: Times New Roman;
    margin: 6% 0;
    text-align: center;
    text-decoration: underline;
}
.financing-main-sub1 p {
    font-family: times new roman;
    font-size: 18px;
    margin-bottom: 3%;
     text-align: justify;
     color: #000;
}
.financing-main-sub1 img {
    margin: 0 auto;
}
.financing-main-sub1 p.center1 {
  text-align: center;
    text-transform: uppercase;
}
.financing-main-sub1 p.center1 a,.financing-main-sub1 p.center1 a:hover {
    color: #48738b;
    text-decoration: underline;
}
.financing-main-sub2 .page-title {
    display: none;
}
.financing-main-sub2 {
    margin: 2% auto 0;
    max-width: 510px;
    width: 100%;
}
#financingForm label {
    font-family: Times New Roman;
    font-size: 18px;
    margin: 2% 0;
    text-transform: uppercase;
}
#financingForm input[type="text"] {
    font-family: Times New Roman;
    font-size: 18px;
    height: 55px;
    width: 100%;
    color:#000;
}
#financingForm label.required::after{    color: #48738b;}
#financingForm .form-list li.fields .field:nth-child(1) {
    margin-right: 4%;
}
#financingForm .form-list li.fields .field {
    float: left;
    width: 48%;
}
#financingForm .buttons-set {
    border: medium none;
}
#financingForm .buttons-set button {    float: left;}
#financingForm .buttons-set button {
    float: left;
    min-width: 320px;
    padding: 18px 0;
    background: none repeat scroll 0 0 #547c93;
}
#financingForm .buttons-set button span span {
    font-family: Times New Roman;
    font-size: 18px;
}
@media screen and (max-width:420px) {
#financingForm .form-list li.fields .field:nth-child(1) {
    margin-right: 0;
}
#financingForm .form-list li.fields .field {
    float: left;
    width: 100%;
}
#financingForm label {    font-size: 14px;}
#financingForm .buttons-set button {    min-width: 280px;    width: 100%;}
}
@media screen and (max-width:400px) {
.financing-main-sub1 img { width: 100%;}
}
