<?xml version="1.0"?>
<config>
    <modules>
        <Ideal_Livechatadmin>
            <version>0.1.0</version>
        </Ideal_Livechatadmin>
    </modules>
    <admin>
        <routers>
			<livechatadmin>
				<use>admin</use>
				<args>
					<module>Ideal_Livechatadmin</module>
					<frontName>livechatadmin</frontName>
				</args>
			</livechatadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<livechatadmin>
					<file>livechatadmin.xml</file>
				</livechatadmin>
			</updates>
		</layout>
    </adminhtml>   
    <global>
    	<blocks>
            <livechatadmin>
                <class>Ideal_Livechatadmin_Block</class>
            </livechatadmin>
        </blocks>
        <helpers>
            <livechatadmin>
                <class>Ideal_Livechatadmin_Helper</class>
            </livechatadmin>
        </helpers>
    </global>
    <default>
    	<general>
    		<livechatadmin>
    			<created_at>1/1/2000</created_at>
    			<company_id>123</company_id>
    		</livechatadmin>
    	</general>
    </default>
</config>